VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
VITE_CUSTOMER_DATA_API_URL=https://customer-data.azurewebsites.net/api/customer-data?code=your_function_code
VITE_LOGIN_API_URL=https://fastapi-login-0319012745.azurewebsites.net/login
VITE_FORGOT_PASSWORD_API_URL=https://api.ezebuddies.com/forgot-password
VITE_DEVICE_DATA_API_BASE_URL=https://fastapi-login-0319012745.azurewebsites.net/users
